.error
	.col-md-4.emoji
		img(src="#{staticURL}/img/Emoji_u1f635.svg", alt="Emoji_u1f635")
	.col-md-8.msg 
		.title Oh no! 
		.subtitle Something went terribly wrong!
		.msg Our hard working minions said that: 
			span #{error} 
		.solution !{solution}