script(type="text/javascript" src="#{staticURL}/vendor/jquery-2.2.0.min.js")
script(type="text/javascript" src="#{staticURL}/vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js")
script(type="text/javascript" src="#{staticURL}/vendor/owl.carousel/owl-carousel/owl.carousel.js")
script(type="text/javascript" src="#{staticURL}/js/gr.teiste.dsg.js")