-var baseURL = ""
-var staticURL ="http://iosif.cloudapp.net/"
-var pageName = "Home"
-var pageDesc = "Decision Systems Group | T.E.I. of Sterea Ellada"
-var pageURL = "http://dsg.teiste.gr"
-var logoURL = "img/dsg-brand-png"
-var devUrlCd = "#"
-var devUrlJp = "http://pandorian.github.io"
-var devUrlSt = "#"
