/*
	Primary Nav Color: 		#046FC7
	Secondary Nav Color:	#024377
	Primary Nav Text:		#eee
	Hover Nav Text:			#fff
*/

body{
	background-color: #eee;
	color: #333;
    padding-top: 70px;
    position: relative;
    font-family: 'Play', sans-serif;
}
iframe{
	border: 0px;
}
.navbar{
	border-radius: 0px;
}
.navbar-dsg{
	background-color: #046FC7;
	color: #eee;
}
.navbar-dsg .navbar-brand:focus, .navbar-dsg .navbar-brand:hover {
    color: #333;
    background-color: transparent;
}
.navbar-dsg .navbar-brand {
    color: #eee;
}
.navbar-dsg .navbar-brand img{
	height: 32px;
	margin-top: -5px;
}
.navbar-dsg .navbar-nav > .active > a, .navbar-dsg .navbar-nav > .active > a:focus, .navbar-dsg .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #024377;
}
.navbar-dsg .navbar-nav > li > a {
    color: #eee;
}
.navbar-dsg .navbar-nav > li > a:focus, .navbar-dsg .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #024377;
 }
.navbar-dsg .navbar-nav > .open > a, .navbar-dsg .navbar-nav > .open > a:focus, .navbar-dsg .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: #024377;
 }
 .navbar-dsg .dropdown-menu > .active > a, .navbar-dsg .dropdown-menu > .active > a:focus, .navbar-dsg .dropdown-menu > .active > a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #024377;
    outline: 0px none;
}
.navbar-dsg .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.first-row{    
    margin-top: -20px;
}
#home-carousel{
}
#home-description{
    background-color: #111;
    color: #eee;
    padding: 20px;
    min-height: 329px;
}
#home-featured-projects{
    padding-top: 20px;
}
.col-padless{
    padding-right: 0px;
    padding-left: 0px;
}
.col-padless-left{
    padding-left: 0px;
}.col-padless-right{
    padding-right: 0px;
}



#owl-news .item{
  background: #111;
  padding: 30px 0px;
  display: block;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#owl-news .item img{
    width: 100%;
}
#home-social{
    background: #111;
    padding: 10px;

}
#home-social img{
    width: 64px;
}

footer{
    font-size: 16px;
    margin-top: 50px;
    padding-top: 10px;
    background-color: #E4E4E4;
}
footer #devs{
    font-size: 10px;
}

footer #teiste{
    margin-top: 15px;
    padding: 10px;
    background-color: #104370;
}
footer #teiste img{
    width: 250px;
}

.project{
    background-color: #E7E7E7;
    border-radius: 5px;
}

.project .head{
    font-weight: bold;
    background-color: #333;
    color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.project .head .title{    
    font-size: 35px;    
    padding: 15px 25px;
}
.project .head .info{
    font-size: 10px;
    color: #ccc;
    text-align: right;
    padding: 5px;
    margin-bottom: -30px;
}
.project .team{
    font-size: 20px;
    text-align: right;
    float: right;
    background-color: #024377;
    color: #eee;
    padding: 10px;
    border-bottom-left-radius: 5px;
    width: 800px;
}
.project .content{
    clear: both;
    font-size: 18px;
    padding: 25px;
}
.error .emoji img{
    width: 100%;
}
.error .msg .title{
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}
.error .msg .subtitle{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.error .msg{
    font-size: 35px;
    margin-top: 20px;
}
.error .msg .msg span{
    font-weight: bold;
    display: block;
    font-size: 32px;
    margin-top: -10px;
}
.error .msg .solution{
    font-size: 25px;
    margin-top: 30px;
}