footer.text-center
	&copy; 2011 - 2016 Decision Systems Group
	#devs Developed by 
		a(href="#{devUrlCd}", target="_blank") Charis Dimos
		| , 
		a(href="#{devUrlJp}", target="_blank") John Prantalos 
		| and 
		a(href="#{devUrlSt}", target="_blank") Stavros Tsourlidakis
	#teiste.text-center
		a(href="http://www.teiste.gr", target="_blank")
			img(src="#{staticURL}/img/teiste-brand.png", alt="teiste-brand")