include ../../vars.jade
doctype html
html
	include ../../includes/head.jade
	body
		include ../../includes/navbar.jade
		block content
		include ../../includes/footer.jade	
		include ../../includes/scripts.jade