include ../../vars.jade
doctype html
html
	head
		include ../../includes/head.jade
		block head
	body
		include ../../includes/adminNavbar.jade
		block content
		include ../../includes/footer.jade	
		include ../../includes/scripts.jade